.navFixed{
    width: 100%;
    height: inherit;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 8px black;
    z-index: 1000;
    display: flex;

}

.navbarBrand{
    width: 80px;
}

.navListStyle{
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkStyle{
    width: auto;
    text-decoration: none;
    color: rgba(231, 231, 231, 0.551);
    transition: all ease-out .2s;
    
}
.linkStyle:hover{
    color: rgb(255, 255, 255);
}

.cartContainer{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.cartContainer span{
margin:0 3px;
font-size: 15px;
color: whitesmoke;
}

.cartIcon {
    width: 30px;
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
}

.logoImg {
    width: 20px;
    margin-right: 4px;
    display: inline-block;
    transition: all ease-in-out .2s;
}

.logoText{
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    transition: all ease-in-out .2s;
}

.navFixed:hover .logoImg{
    filter: drop-shadow(0px 0px 9px rgb(216, 216, 216));
}

.navFixed:hover .logoText{
    color: rgb(216, 216, 216);
    margin-left: 15px;
}

