.cartIcon {
    width: 30px;
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.55);
}

.logoImg {
    width: 20px;
    margin-right: 4px;
    display: inline-block;
    transition: all ease-in-out .2s;
}
.logoImg:hover{
    filter: drop-shadow(0px 0px 5px rgb(173, 173, 173));
}

.logoText{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
}